.container {
  max-width: 80vw;
  margin: 0 auto;
  border: 5px inset black;
}
.box {
  padding: 50px 20px;
  background-color: #5653bb;
  border-bottom: 10px solid #d18d8d;
  color: #fafaaf;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title {
  font-size: 4rem;
  margin-bottom: 30px;
  text-align: center;
}
.text {
  font-size: 1.5rem;
}
